@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:wght@800&family=Poppins:wght@200;300;500&family=Ubuntu:wght@500&family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:wght@800&family=Poppins:wght@200;300;500&family=Ubuntu:wght@500&family=Voltaire&family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:wght@800&family=Poppins:wght@500&family=Ubuntu:wght@500&family=Voltaire&family=Wallpoet&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Yanone+Kaffeesatz:wght@200&display=swap');

.subtitle {
  font-family: "Voltaire", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 3rem;
}

body {
  background-color: black;
}

.mainAbout{
    /* margin-top: 5vh; */
}

.footRes{
  margin-top: 10rem;
}
.samAbt{
  padding-top: 50px;
  color: rgb(11, 183, 222);
  padding-bottom: 50px;
  font-size: 50px;
  font-family: 'Goldman', cursive;
}

.head {
  background-color: rgb(1, 60, 60);
}

/* p {
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
} */

.cc {
  height: 30vh;
  width: 70vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.wrapper {
  margin-top: 20vh;
  display: flex;
}

.textboxl{
  margin-left: 4rem;
}

.achievement{
  height: 60vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  margin-top: 5vh;
  align-items: center;
}


.row-about {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 30px;
  width: 700px; /* Set a fixed width for the row */
  height: 135px;
}

.row-about img {
  height: 135px;
  margin-right: 30px;
}

.row-about:nth-child(1) .images-about,
.row-about:nth-child(3) .images-about {
  animation: moveLeft 18s linear infinite;
}

.row-about:nth-child(2) .images-about {
  animation: moveRight 18s linear infinite;
}

.images-about {
  display: flex;
}


@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-500px);
  } /* Move the images within the fixed width */
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(500px);
  } /* Move the images within the fixed width */
}


@media only screen and (max-width: 768px){
    .wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        
    }
    .textbox{
        width: 370px;
    }

    .cc {
        height: 30vh;
        width: 50vh;
        margin-left: 7vh;
        margin-right: 5vh;
      }
}

