@import url("https://fonts.googleapis.com/css2?family=Goldman&family=Poppins:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Yanone+Kaffeesatz:wght@200&display=swap');
header{
  display: flex;
  gap: 210px;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 600;
  transition: all 0.5s ease;
  height: 6rem;
}

.logo {
  cursor: pointer;
}
.COMPANY {
  /* margin-top: -2.5rem; */
  font-family: "Goldman", cursive;
  font-size: 2.5rem;
  margin-left: 13px;
}
.button-49,
.button-49:after {
  font-family: "Goldman", cursive;
  /* width: 150px;
  height: 76px; */
  line-height: 78px;
  font-size: 20px;
  
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  /* box-shadow: 6px 0px 0px #00E6F6; */
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'appX';
  color: aqua;
  /* text-shadow: red; */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 /* background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);*/
 
  clip-path: var(--slice-0);
  /* text-shadow: -3px -3px 0px rgb(126, 51, 51), 3px 3px 0px #00E6F6; */
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
nav ul {
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.linkT{
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}
.linkT:hover{
  color: aqua;
  transition: 0.7s;
}

nav li {
  display: block;
  margin-left: 20px;
}

section {
  height: 100vh;
}

#hero {
  /* background-image: url("1.jpg"); */
  background-size: cover;
  background-position: center;
}


header.sticky {
  background-color: black;
  color: rgb(255, 255, 255);
  padding-top: 1vh;
  padding-bottom: 1vh;
}

header.hidden {
  visibility: hidden;
}
